body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    background-color: grey;
    text-align: center;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.graph {
    background-color: white;
    width: 70%;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    border: 1px, solid, rgb(75, 75, 75);
    height: 35rem;
    width: 15rem;
    padding: 1rem;
    border-radius: 20px;
}

.inputs input{
    width: 10rem;
    margin-top: 0.5rem;
    border: none;
    height: 2rem;
    border-radius: 20px;
    padding-left: 0.8rem;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.inputs label{
    margin-top: 1.5rem;
}

.inputs button{
    width: 10rem;
    height: 2rem;
    margin-top: 1.5rem;
    border:  none;
    border-radius: 20px;
}