body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    background-color: grey;
    text-align: center;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.graph {
    background-color: white;
    width: 70%;
    height: 70%;
    z-index: 1000;
}