<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random-Walk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <header>
        <h1>Random Walk</h1>

    </header>
    
    <div class="main">
        <div class="graph">
            {% if graph %}
            {{ graph | safe }}
            {% endif %}
        </div>
        <div class="form">
            <form method="POST">
                <input type="range" name="size" max="5" min="1" value="{{ size }}">
                <button type="submit" name="generate" value="input">
                    Generate
                </button>
            </form>
        </div>

    </div>
</body>

</html>